body{
    text-align: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    
    
}
#hero{
    background-image: url("/abujawebp.webp");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
    
}



.visit{
    border: 1px solid #45789d;
    color: white;
    background: #45789d;
    padding: 0px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    
    
} 

.enjoy{
    border: 1px solid #1d3557;
    color: white;
    background: #1d3557;
    border-radius: 7px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.act{
    display: inline-block;
    width: 100%;
    background-color: #f1faee;
    
}


.hik{
    
    text-align: center;
    margin-right: 100px;
    

}
.sect{
    

    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f1faee;
    padding-top: 40px;


    
}
.sect img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    
}

.pic{
    width: 150px;
    border: 0px;
    border-radius: 4px;
    
}
.my{
    border: 0px;
    padding: 20px;
    display: flex;
    text-align: center;
    gap: 20px;
    background-color: #a8dadc;
    margin-top: 50px;
    margin-bottom: 100px;
    border-bottom: 5px solid #1d3557;
    border-radius: 5px;
    
}
